<div class="reasons-slider">
	<div class="reasons-slider__wrapper">
		<div class="reasons-slider__description">
			<h2 class="reasons-slider__description__header">WHY MODUS VERSUS?</h2>
			<p class="reasons-slider__description__paragraf">
				Capacitance cascading integer reflective interface data development high bus cache dithering transponder
			</p>
		</div>
		<div class="reasons-slider__slides">
			<div class="reasons-slider__slides__slide reasons-slider__slide_1">
				<div class="slide__image slide_1__image">
					<ul class="slide__icons">
						<li class="slide__icon"></li>
						<li class="slide__icon"></li>
						<li class="slide__icon"></li>
						<li class="slide__icon icon_last"></li>
					</ul>
				</div>
			</div>
			<div class="reasons-slider__slides__slide reasons-slider__slide_2">
				<div class="slide__image slide_2__image">
					<ul class="slide__icons">
						<li class="slide__icon"></li>
						<li class="slide__icon"></li>
						<li class="slide__icon"></li>
						<li class="slide__icon icon_last"></li>
					</ul>
				</div>
			</div>
			<div class="reasons-slider__slides__slide reasons-slider__slide_3">
				<div class="slide__image slide_3__image">
					<ul class="slide__icons">
						<li class="slide__icon"></li>
						<li class="slide__icon"></li>
						<li class="slide__icon"></li>
						<li class="slide__icon icon_last"></li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</div>