<div class="reasons">
	<div class="reasons__wrapper">
		<div class="reasons__reasons-list">
			<h3 class="reasons-list__header">Why Choose Us ?</h3>
			<ul class="reasons-list__list">
				<li class="list__item">1</li>
				<li class="list__item">2</li>
				<li class="list__item">3</li>
				<li class="list__item">4</li>
				<li class="list__item">5</li>
				<li class="list__item">6</li>
			</ul>
		</div>
		<div class="reasons__number">
			
		</div>
		<div class="reasons__feedback">
			
		</div>
	</div>
</div>