<div class="reasons">
	<div class="reasons__wrapper">
		<div class="reasons__reasons-list">
			<h3 class="reasons-list__header">Why Choose Us ?</h3>
			<ul class="reasons-list__list">
				<li class="list__item">Reason 1</li>
				<li class="list__item">Reason 2</li>
				<li class="list__item">Reason 3</li>
				<li class="list__item">Reason 4</li>
				<li class="list__item">Reason 5</li>
				<li class="list__item">Reason 6</li>
			</ul>
		</div>
		<div class="reasons__diagrams">
			<div class="diagrams__description">
				<p class="diagrams__description__paragraf">Curabitur quis leu euismod venenatis eu ir diam. Eliam sucior diam pelentesque lectus vehicula mattis. Nulla ac massa at dolor condimendimentum eleifend vitae urna</p>
			</div>
			<div class="diagrams__wrapper">
				<div class="diagrams__diagram diagram_1">
					<div class="diagram__window">
						<div class="window__scale">
							<div class="scale__number"></div>
						</div>
					</div>
					<h3 class="diagram__name">SUSPENDISSE</h3>
				</div>
				<div class="diagrams__diagram diagram_2">
					<div class="diagram__window">
						<div class="window__scale">
							<div class="scale__number"></div>
						</div>
					</div>
					<h3 class="diagram__name">MAECENAS</h3>
				</div>
				<div class="diagrams__diagram diagram_3">
					<div class="diagram__window">
						<div class="window__scale">
							<div class="scale__number"></div>
						</div>
					</div>
					<h3 class="diagram__name">ALIQUAM</h3>
				</div>
				<div class="diagrams__diagram diagram_4">
					<div class="diagram__window">
						<div class="window__scale">
							<div class="scale__number"></div>
						</div>
					</div>
					<h3 class="diagram__name">HABITASSE</h3>
				</div>
			</div>
		</div>
		<div class="reasons__feedback">
			<h3 class="feedback__header">What Clients Say ?</h3>
			<div class="feedback__comment">
				<p class="comment__content">rtherthewrtbhwr tgwtrhwsfevas regargargarg ergergerfce wefwrfgfc werfwerfttyty refewf</p>
			</div>
			<div class="feedback__author">
				<p class="author__name">Jhon Doe</p>
			</div>
		</div>
	</div>
</div>
