	<div class="slider">
		<input class="slider__input" type="radio" name="point" id="slide1" checked>
		<input class="slider__input" type="radio" name="point" id="slide2">
		<input class="slider__input" type="radio" name="point" id="slide3">
		<div class="slider__slides">
			<div class="slides slides__slide1"></div>
			<div class="slides slides__slide2"></div>
			<div class="slides slides__slide3"></div>
		</div>	
		<div class="slider__controls">
			<label class="slider__label label_1" for="slide1"></label>
			<label class="slider__label label_2" for="slide2"></label>
			<label class="slider__label label_2" for="slide3"></label>
		</div>
	</div>