	<div class="slider">
		
		<input class="slider__input" type="radio" name="point" id="slide1" checked>
		<input class="slider__input" type="radio" name="point" id="slide2">
		<input class="slider__input" type="radio" name="point" id="slide3">
		<div class="slider__slides">
			<div class="slides slides__slide1">
				<div class="slide__description slide_1__description">
					<h1 class="description__header">VESTIBULUM</h1>
					<p class="description__paragraf">
						Maecenas tinciduna augue et rutrum condimentum, libero ectus mattis orci ut commondo.
					</p>
				</div>
			</div>
			<div class="slides slides__slide2">
				<div class="slide__description slide_2__description">
					<h1 class="description__header">SLIDE 2</h1>
					<p class="description__paragraf">
						some text 2
					</p>
				</div>
			</div>
			<div class="slides slides__slide3">
				<div class="slide__description slide_3__description">
					<h1 class="description__header">SLIDE 3</h1>
					<p class="description__paragraf">
						Some text 3
					</p>
				</div>
			</div>	
		</div>	
		<div class="slider__controls">
			<label class="slider__label label_1" for="slide1"></label>
			<label class="slider__label label_2" for="slide2"></label>
			<label class="slider__label label_2" for="slide3"></label>
		</div>
	</div>