@import "variables-main";
@import 'mixins';

.header {
    height: 70px;
    background-color: $green-main-light;
}

.header__logo {
    margin: 16px 130px 0 155px;
    font-size: 25px;
    color: white;
    display: inline-block;
    font-weight: normal;
}

.header-menu-wrapper {
    display: inline-block;
    margin-left: 0px;
}

.header__menu {
    display: inline-block;
    margin: 0px;
}

.menu__item {
    display: inline-block;
    position: relative;
    margin-right: 0px;
    list-style: none;
    &:nth-child(1) {
        .menu__link {
            @include menulink($green-main, $green-main-dark, none);
            padding-left: 15px;
        }
    }
    &:hover {
        .header__submenu {
            display: block;
        }
        .menu__link {
            background-color: $orange-main;
            border-bottom: 3px solid $orange-main-dark;
            &:before {
                @include menu-pointer(white);
                display: inline-block;
                top: 10px;
                left: 13px;
                content: "";
                border-bottom: 1px solid white;
            }
        }
        &:nth-child(1) {
            .menu__link {
                background-color: $green-main;
                border-bottom: 3px solid $green-main-dark;
                padding-left: 15px;
                &:before {
                    display: none;
                }
            }
        }   
    }
}

.menu__link {
    @include menulink($orange-main, $orange-main-dark, inline-block);
    @include active-link_yellow;
}

.header__submenu {
    position: absolute;
    top: 25px;
    display: none;
    margin: 11px 0 0 0;
    padding: 0px;
    background: $orange-main;
    border-radius: 4px;
    padding: 4px 4px 0px 4px;
    z-index: $z-index-front;
    &:before {
        display: block;
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        top: -4px;
        left: 11px;
        background-color: $orange-main;
        transform: rotate(45deg);
    }
    &:hover {
        .menu__link {
            background-color: $orange-main;
            border-bottom: 3px solid $orange-main-dark;
        }
    }
}

.submenu__item {
    list-style: none;
    margin-bottom: 3px;
    border-radius: 4px;
    background: $orange-main;
}

.submenu__link {
    @include active-link_yellow;
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 5px 10px 6px 27px;
    background: #E06A3C;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 13px;
    &:hover {
        background: $green-main-light;
    }
    &:before {
        @include menu-pointer(white);
        display: block;
        top: 12px;
        left: 7px;
        border-top: 1px solid white;
    }
}