$bg-main: #F4F4F4;

$green-main-light: #70c570;
$green-main: #60A15F;
$green-main-dark: #4B8C4C;

$orange-main: #E76A27;
$orange-main-dark: #D86E3E;

$gray-main: #ACB5B2;
$gray-main-light: #ECECEC;
$gray-main-dark: #7B7F7E;