@import 'slider';
@import 'z-indexes';
@import 'header';
@import 'services';
@import 'reasons-slider';
@import 'reasons';

body{
	margin: 0;
	padding: 0;
	font-family: tahoma;
	background-color: $bg-main;
}

h1, h2, h3, p,  ul{
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
}